@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    user-select: none;
    width: 100%;
    overflow-x: hidden;
}

.app {
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.app-logo {
    width: 15rem;
    margin-bottom: 20px;
}

.app-title {
    font-size: 60px;
    margin: 0;
}

.app-subtitle {
    color: gray;
    margin-top: -20px;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    width: 16ch;
    text-align: center;
    border: 3px solid black;
    border-radius: 20px;
    background-color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.action-buttons:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.action-buttons i {
    margin-bottom: 5px;
    font-size: 34px;
}

#callSound {
    display: none;
}